 <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;""> 
 <div class="col-10">
  <h4 
    style="color:rgb(120,120,120); margin-bottom:4px;">         
    {{job['title']}} 
  </h4>
  <div>
    <b>Location:</b> {{job['location']}}
  </div>
  {% if'salary' in job %}
  <div>
    <b>Salary:</b> {{job['salary']}}
  </div>
  {% endif %}
 </div>
   <div class="col-2">
     <a href="mailto:utharun@gmail.com?cc=hendvdijk@gmail.com&?subject=Interested%20in%20BLR%20Nature%20Walks{{jobs['title']}}&body=You%20are%20too%20cool%20and%20I%20want%20to%20pay%20you%20to%20show%20me%20your%20coolness"type="button" class="btn btn-outline-primary">Apply</a>
   </div>
   
</div>